<mat-toolbar>
  <div class="buttons" *ngIf="hide">
    <button
      *ngIf="!visible"
      class="adpan"
      mat-stroked-button
      (click)="goToDashboard()"
    >
      Dashboard
    </button>
    <button
      *ngIf="visible"
      class="adpan"
      mat-stroked-button
      (click)="goToAdminPannel()"
    >
      Admin pannel
    </button>
    <button
      *ngIf="downloadWait"
      class="down"
      mat-stroked-button
      (click)="download()"
    >
      Download
    </button>
  </div>
  <button class="logout" mat-stroked-button (click)="logout()" color="warn">
    Logout
  </button>
</mat-toolbar>
