
<div class="wrap">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input  matInput placeholder="pat@example.com" formControlName="email" required>
        <mat-error *ngIf="form.controls['email'].invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <br> 
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput placeholder="password" formControlName="password" required>
      <mat-error *ngIf="form.controls['password'].invalid">{{getErrorMessagePass()}}</mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" type="submit" >Submit</button>
  </form>
</div>